
# Backend ignores
backend/venv
backend/__pycache__
backend/*.pyc
backend/.env

# Frontend ignores
frontend/node_modules
frontend/.next
frontend/out
frontend/build
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# General
.git
.gitignore
.dockerignore
